<body ng-app="signInApp" ng-cloak="">

    <md-toolbar class="md-toolbar-tools" id="toolbar">
        <h1>Code for KC Sign In</h1>
    </md-toolbar>
    <br>
    <md-content layout-sm="column" layout="row" layout-align="center start">
        <div flex-sm flex-gt-sm="30" layout="column">
            <md-card id="MainCard" class="content">
                <img src="~/Angular/static/assets/images/Code_For_KC_Cropped.png" />

                <md-card-actions ng-controller="signInCtrl as sic" layout="column" layout-align="center center">
                    <form name="signInForm" ng-submit="sic.signIn(sic.selectedItem, sic.searchText)">
                        <md-autocomplete id="MainInput"
                                         ng-disabled="sic.mainInputDisabled"
                                         required=""
                                         md-no-cache="true"
                                         md-selected-item="sic.selectedItem"
                                         md-search-text="sic.searchText"
                                         md-items="item in sic.filterMembers(sic.searchText)"
                                         md-item-text="item.name"
                                         md-min-length="0"
                                         placeholder="What's your name?">
                            <md-item-template>
                                <span md-highlight-text="sic.searchText" md-highlight-flags="^i">{{item.name}}</span>
                            </md-item-template>
                            <md-not-found>"{{sic.searchText}}" not found</md-not-found>
                        </md-autocomplete>
                        <br>
                        <div layout="row" layout-align="center center">
                            <md-button ng-disabled="sic.mainInputDisabled" type="submit" id="signInBtn" class="md-raised md-accent">Sign In</md-button>
                        </div>
                        <br>
                        <br>
                    </form>
                </md-card-actions>
            </md-card>
        </div>
    </md-content>

    <script src="~/Angular/static/src/app.js"></script>
</body>