<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/angular-material.css" rel="stylesheet" />
    <link href="~/Angular/static/assets/styles/signin.css" rel="stylesheet" />
    <link href="~/Angular/static/assets/styles/toast.css" rel="stylesheet" />

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-aria.min.js"></script>
    <script src="~/Scripts/angular-material.min.js"></script>
</head>
@RenderBody()
</html>
